{% extends 'base.html' %}
{% load static %}
{% block title %}Nirman Builder | Floor Addition services{% endblock title %}
{% block meta_description %}Floor addition services add a new floor to your home design and beautify your space with extra room , Our expert team will work to provide a solution. {% endblock %}
{% block meta_keywords %}Nirman Builder,Floor Addition services in mysore{% endblock %}
{% block meta_author %}Page Author{% endblock %}
{% block og_title %}Page-Specific Title{% endblock %}
{% block og_description %}This is a page-specific Open Graph description.{% endblock %}
{% block og_url %}{% url 'index' %}{% endblock %}
{% block canonical_url %}{% url 'index' %}{% endblock %}
{% block robots_meta %}index, follow{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
<style>
    h1, h2, h3, h4, h5, h6 {
        position: relative;
        font-weight: 400;
        margin: 25px;
        background: 0 0;
        line-height: 1.2em;
    }
</style>


<section class="section p-none txt-justify" style="background: #fff;">
    <div class="container">
        <div class=" content-box content-box1">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-title text-center" style="margin-top: 25px">
                        <h2 class="text-center">Floor Addition
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 bdrrht">
                    <h3>Floor Addition Expertise
                    </h3>
                    
                        <p>
                            Nirman Builder is your go-to partner for new floor addition structures. Whether you need additional living space, an office area, or an expansion for your residential and commercial property, our skilled team is here to bring your space with an additional <a href="https://www.nirmanbuilder.com/renovation">floor</a>.
                        </p></br>
                        <p>
                            With our extensive skillset in floor addition project work, we understand the intricacies involved in seamlessly integrating a new floor into your existing building. Our expert architects and civil engineers work closely with you to develop a comprehensive plan that considers structural integrity, aesthetics, functionality, and your specific requirements for floor addition work in your location.
                        </p></br>

                        <p>
                            Nirman Builder, A successful floor addition in our opinion should not only improve the overall area but also mix in perfectly with the existing building. Our team is dedicated to delivering exceptional work, utilizing quality materials and modern construction techniques and ensuring a harmonious transition between the floors.

                        </p></br>
                        <p>
                            We offer a variety of floor addition services with a wide range of options for residential homes and commercial buildings. Whether you want to enlarge your floor to accommodate a growing family or want to expand your space, our attention to detail and experience ensures success.

                        </p>
                </div>
                <div class="col-md-6 p-none">
                    <img src="{% static 'img/services/pageimg/7.PNG' %}" class="img-responsive" alt="Image" />
                </div>
            </div>
        </div>
    </div>
 </section>
 <section class="section p-none txt-justify" style="background: #fafafa;">
    <div class="container">
        <div class=" content-box content-box1">
            <div class="row">
                <div class="col-md-12">
                    {% comment %} <div class="sec-title text-center" style="margin-top: 25px">
                        <h2 class="text-center">Construction </h2>
                    </div> {% endcomment %}
                </div>
                <div class="col-md-6 p-none bdrrht">
                    <img src="{% static 'img/services/pageimg/8.PNG' %}" class="img-responsive" alt="Image" />
                </div>
                <div class="col-md-6">
                    <h3>Floor Addition Services:


                    </h3>
                    <ul class="bullet-list">
                        <li>Conception Design 
                        </li>
                        <li>Planning and consultation
                        </li>
                        <li>Acquisition and Approvals
                        </li>
                        <li>SIntegration and Finishing
                        </li>
                        <li>Construction and Implementation
                        </li>
                        <li>Material Selection and Procurement
                        </li>
                        <li>Timely Project Execution and Delivery
                        </li>
                        <li>Post-construction support for the final inspection and handover
                        </li>
                        <li>
                        </li>
                        
                      </ul>
                      
                      <style>
                        .bullet-list {
                            list-style-type: none;
                          }
                          
                          .bullet-list li::before {
                            content: "•"; /* You can change this to any symbol you like */
                            font-weight: bold;
                            margin-right: 5px;
                          }
                          
                      </style>
                    </br><p>
                        
                        Transform your floor with our team of professionals to bring your floor addition to new heights and improve your living with a fresh look , Expand your space with a new and unique floor design.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
 </section>
 
 

{% endblock %}